---
---

@import "";
html,html[theme=light] {
	--box-background-color: hsl(0, 0%, 90%);
	--highlight-color: hsl(0, 0%, 80%);
	--light-border-color: hsl(0, 0%, 80%);
	--light-text-color: hsl(0, 0%, 35%);
	--link-color: hsl(200, 81%, 35%);
	--link-color-visited: hsl(250, 100%, 37%);
	--main-background-color: hsl(0, 5%, 95%);
	--main-text-color: hsl(0, 0%, 0%);
	--sidebar-color: hsl(0, 0%, 90%);
	--tag-color: hsl(0, 10%, 90%);
}
html[theme=dark] {
	--box-background-color: hsl(0, 0%, 20%);
	--highlight-color: hsl(0, 0%, 60%);
	--light-border-color: hsl(0, 0%, 30%);
	--light-text-color: hsl(0, 0%, 60%);
	--link-color: hsl(200, 81%, 60%);
	--link-color-visited: hsl(250, 100%, 60%);
	--main-background-color: hsl(0, 0%, 10%);
	--main-text-color: hsl(0, 10%, 80%);
	--tag-color: hsl(0, 10%, 0%);
}
@media (prefers-color-scheme: dark) {
	html[theme=dark] {
		--box-background-color: hsl(0, 0%, 20%);
		--highlight-color: hsl(0, 0%, 60%);
		--light-border-color: hsl(0, 0%, 30%);
		--light-text-color: hsl(0, 0%, 60%);
		--link-color: hsl(200, 81%, 60%);
		--link-color-visited: hsl(250, 100%, 60%);
		--main-background-color: hsl(0, 0%, 10%);
		--main-text-color: hsl(0, 10%, 80%);
		--tag-color: hsl(0, 10%, 0%);
	}
	html[theme=light] {
		--box-background-color: hsl(0, 0%, 90%);
		--highlight-color: hsl(0, 0%, 80%);
		--light-border-color: hsl(0, 0%, 80%);
		--light-text-color: hsl(0, 0%, 35%);
		--link-color: hsl(200, 81%, 35%);
		--link-color-visited: hsl(250, 100%, 37%);
		--main-background-color: hsl(0, 5%, 95%);
		--main-text-color: hsl(0, 0%, 0%);
		--sidebar-color: hsl(0, 0%, 90%);
		--tag-color: hsl(0, 10%, 90%);
	}
}
:root {
	min-height: 100vh;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body {
	width: inherit;
	margin: 1% auto 0 auto;
	color: var(--main-text-color);
	background-color: var(--main-background-color);
	font-feature-settings: "kern";
	font-family: "neon";
	font-size: 12px;
	min-width: 1090px;
	max-width: 1090px;
}
div {
	width: inherit;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	color: var(--main-text-color);
	background-color: var(--main-background-color);
	font-feature-settings: "kern";
	font-family: "neon";
	font-size: 16px;
	min-width: 5px;
	max-width: 100%;
}
div {
	width: grid;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	color: var(--main-text-color);
	background-color: var(--main-background-color);
	font-feature-settings: "kern";
	font-family: "neon";
	font-size: 16px;
	min-width: 5px;
	max-width: inherit;
}
div.document {
	width: inherit;
	margin: inherit;
	color: var(--main-text-color);
	background-color: var(--main-background-color);
	font-family: "neon";
	font-size: 16px;
	margin: 0 0 0 0;
}
div.documentwrapper {
	width: 100%;
	float: left;
	color: var(--main-text-color);
	background-color: var(--main-background-color);
	font-family: "neon";
	font-size: 16px;
}
div.body {
	width: inherit;
	padding: 0 0 0 0;
	color: var(--main-text-color);
	background-color: var(--main-background-color);
	font-feature-settings: "kern";
	font-family: "neon";
	font-size: 16px;
	min-width: 45%;
	max-width: 100%;
}
div.sub-title-menu {
	width: 100%;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	color: var(--main-text-color);
	background-color: var(--main-background-color);
	font-feature-settings: "kern"on;
	font-family: "neon";
	font-size: 16px;
	min-width: 35%;
	max-width: 100%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
div.sub-title-menu table {
	width: 100%;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	color: var(--link-color);
	background-color: var(--main-background-color);
}
div.sub-title-menu a {
	font-weight: 700;
	margin: 0 0 0 0;
	margin-left: 0px;
	color: var(--link-color);
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: .05em;
	margin-left: 0;
}
div.sub-title-menu .fa {
	font-weight: 700;
	padding: 0 0 0 0;
	padding-bottom: 0.25em;
}
div.posts-categories ul {
	display: block;
	margin: auto;
}
div.posts-categories li.toctree-l3 {
	display: inline;
	margin: 0 1% 0 0;
}
@supports (-moz-appearance:none) {
	div.posts-categories li.toctree-l3 {
		display: inline list-item;
		margin: 0 1% 0 0;
	}
}
div.posts-tags ul {
	display: inline-block;
	margin: auto;
}
div.posts-tags li.toctree-l3 {
	display: inline list-item;
	margin: 0 1% 0 0;
}
div.section {
	width: 100%;
	max-width: 100%;
	height: 100;
	color: var(--main-text-color);
	background-color: var(--main-background-color);
	font-family: "neon";
	font-size: 16px;
}
div.clearer {
	color: var(--main-text-color);
	background-color: var(--main-background-color);
	font-family: "neon";
	font-size: 12px;
}
div.footer {
	width: 100%;
	max-width: 100%;
	padding-top: 1em;
	border-top-color: var(--main-text-color);
	border-top-width: 1px;
	border-top-style: solid;
	text-align: center;
	font-size: .8em;
	margin: auto 10% 10% auto;
	padding: 0 0 0 0;
	color: #888;
	background-color: var(--main-background-color);
	font-feature-settings: "kern";
	font-family: "neon";
	font-size: 10px;
	min-width: 45%;
	max-width: 100%;
}
div.body p, div.body dd, div.body li {
	line-height: 1.5em;
	margin: auto;
}
div.listing-second-line {
	color: var(--light-text-color);
	font-size: .7em;
	line-height: 1;
}
*+* {
	margin-top: 0;
	margin-bottom: 1em;
}
h1 {
	margin-top: 20%;
	padding-bottom: .1em;
	border-bottom-color: var(--main-text-color);
	border-bottom-width: 1px;
	border-bottom-style: solid;
	font-family: "neon";
	font-size: 20px;
}
h2 {
	border-bottom-color: var(--main-text-color);
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
h2,h3 {
	color: var(--main-text-color);
	line-height: 1.1;
	border-bottom-color: var(--main-text-color);
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
*+h2,*+h3 {
	margin-top: 4em;
}
h2+*,h3+* {
	margin-top: .1em;
}
a,li,p {
	text-align: justify;
	hyphens: auto;
	line-height: 1.0em;
}
a {
	color: var(--link-color);
	text-decoration: none;
	font-family: "neon";
}
body a:hover {
	color: var(--link-color);
	text-decoration: underline;
}
ol,ul {
	padding: 0 0 0 0;
}
li+li {
	margin-top: .5em;
}
blockquote {
	padding: 1em 1.5em;
	border-left: 2px solid var(--underline-color);
	background-color: var(--box-background-color);
}
blockquote p {
	text-align: justify;
	font-size: .9em;
	hyphens: auto;
	line-height: 1.3em;
}
pre {
	background-color: var(--box-background-color);
	padding: 1em;
	line-height: 1.2;
}
code {
	font-family: 'neon';
	font-style: 1em;
	background-color: var(--box-background-color);
}
img {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
	border: 0px solid var(--light-border-color);
}
dl {
	padding: 1em 1.5em;
	border-left: 2px solid var(--underline-color);
}
dt {
	text-transform: uppercase;
	font-size: .7em;
	font-weight: 700;
}
dd {
	margin-top: .25em;
	font-size: .9em;
	line-height: 1.3em;
}
::selection {
	background-color: var(--highlight-color);
}
.listing:last-of-type {
	margin-bottom: 2em;
}
.listing-title {
	color: var(--main-text-color);
	text-decoration: none;
	text-transform: none;
	font-weight: 700;
	font-variant: none;
	line-height: 1;
}
.listing-second-line {
	color: var(--light-text-color);
	font-size: .8em;
	font-weight: 400;
}
.listing-tag {
	color: var(--light-text-color);
	font-size: .85em;
	font-weight: 400;
	letter-spacing: .05em;
}
.tag-nav {
	display: flex;
	margin-top: .5em;
	color: var(--main-text-color);
	text-transform: uppercase;
	font-size: .8em;
	flex-wrap: wrap;
	letter-spacing: .05em;
	white-space: nowrap;
}
.tag-nav a {
	color: var(--main-text-color);
}
.tag-nav span {
	flex-basis: 33.3%;
}
.tag-nav span:first-child {
	margin-top: 1.5em;
}
.tag-lists {
	min-height: 100vh;
	margin-bottom: 50vh;
}
.tag-lists h2 {
	margin-bottom: 1.5em;
	padding-top: 1.5em;
	border-bottom: 1px solid var(--main-text-color);
	text-transform: uppercase;
	font-size: 1em;
}
.caption,figcaption {
	margin-top: .5em;
	color: var(--light-text-color);
	text-align: center;
	font-size: .7em;
}
.index-title {
	font-family: neon,;
	font-weight: 400;
}
.all-post-link-index {
	margin-top: 2em;
}
div.body h1 {
	display: flex;
	margin: 1em 0 0.25em 0;
	font-family: "neon";
	font-size: 180%;
}
div.body h2, div.body h3, div.body h4, div.body h5, div.body h6 {
	font-weight: 400;
	margin: 30px 0px 10px 0px;
	padding: 0;
	font-family: "neon";
	font-size: 120%;
}
div.body.section {
	text-align: left;
}
.listing-title: first-of-type {
	margin-top: 2em;
}
.listing-title {
	margin-top: 0;
	text-align: left;
	text-transform: none;
	font-size: 1em;
}
.listing-title a {
	color: var(--main-text-color);
}
.listing-date {
	margin: .5em 0 2em 0;
	padding-bottom: 2em;
	color: var(--light-text-color);
	border-bottom-color: var(--light-border-color);
	border-bottom-width: 1px;
	border-bottom-style: solid;
	font-size: .7em;
	font-size: .9em;
}
.listing-tags {
	color: var(--light-text-color);
	text-transform: uppercase;
	font-size: .8em;
	letter-spacing: .05em;
}
.listing-tags a {
	color: var(--light-text-color);
}
.internal-nav-tag a {
	color: var(--light-text-color);
	text-transform: uppercase;
}
.recent-posts h2 {
	margin-top: 2.5em;
}
.recent-posts .listing a {
	font-weight: 400;
}
.about-photo {
	width: 50%;
	max-width: 180px;
	float: left;
	margin: 0 5% 0 0;
}
.all-posts-link a {
	color: var(--main-text-color);
	text-transform: uppercase;
	font-size: .8em;
	letter-spacing: .05em;
}
.no-top-margin {
	margin-top: .25em;
}
hr {
	border: 0px
}
.post-list {
	padding: 0;
	margin-top: 3em;
}
.post-list .post-item {
	margin-bottom: 1em;
	margin-left: 0;
	list-style-type: none;
}
.post-list .post-item .meta {
	display: block;
	min-width: 100px;
	margin-right: 16px;
	color: #666;
	font-size: 16px;
}
.article-title {
	text-align: right;
	margin: .05em;
	padding: 0.1em;
	margin-top: 0;
}
div.code-block-caption span.caption-text {
	font-weight: 700;
	color : var(--link-color-visited);
}
.highlight .n {
	color : var(--main-text-color);
}
div.body blockquote {
	width: initial;
	background-color: var(--main-background-color);
	border-left: 5px solid var(--box-background-color);
}
.footnote brackets {
	margin: 0.5em 0
}
div.highlight {
	background-color: var(--main-background-color);
	width: inherit;
}
div.highlight > pre {
	background-color: var(--box-background-color);
	padding: 1em;
	line-height: 1.2;
	margin: 1em 2.75% 1em 2.9%;
	border-radius: 10px;
}
.simple {
	width: 90%;
	padding: 0 10% 0 5%;
}
table.docutils {
	width: 1050px;
	border: 1px solid #888;
	box-shadow: none;
}
div.body canvas {
	margin: 0 0 0 0;
}
.citation {
	margin: 0 0 0 0;
}
dl.citation > dt {
	margin: 0 0.25em 0 0;
}
.citation > dd {
	margin: 0 0 0 0;
}
.citation > p {
	margin: 0 0 0 1em;
}
.brackets {
	padding-right: 0.25em;
}
dl.citation.dd > p {
	padding-left: 1em;
}
table.highlighttable {
	margin-left: 0.05em;
	width: 100%;
	display: block;
}
table.highlighttable tbody {
	width: 100%;
	display: block;
}
table.highlighttable tr {
	width: 90%;
	display: block ruby;
}
td.linenos {
	width: auto;
	display: revert;
}
td.code {
	width: 100%;
	display: inline-grid;
}
@supports (-moz-appearance:none) {
	td.code {
		width: 100%;
		display: inherit;
	}
}
div.highlight {
	width: 100%;
	display: block;
}
div.highlight > pre {
	width : auto;
	background-color: var(--box-background-color);
	padding: 1em;
	line-height: 1.2;
	margin: 10px 0 0 0;
	padding-right: inherit;
}
div.lineodiv {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	color: var(--main-text-color);
	background-color: var(--main-background-color);
	font-feature-settings: "kern"on;
	font-family: "neon";
	font-size: 16px;
	min-width: 5px;
	max-width: -moz-fit-content;
}
dt.label {
	margin-bottom: 0em;
}
.math {
	color: var(--link-color);
	font-family: "neon";
	font-size: 18px;
}
table.docutils th.centeredth,table.docutils td.centeredth {
	text-align: center;
}
table.wav {
	width: 1050px;
	border: 1px solid #888;
	box-shadow: none;
	border: 1px solid #888;
	border: 0;
	border-collapse: collapse;
}
table.wav td, table.wav th {
	border: 1px solid #888;
	padding: 0.25em 0.7em;
	text-align: left;
}
img.badge {
	display: inline;
}
div.gh-buttons {
	text-align: center;
	padding: 2em 0 0 0
}
img.align-center {
	width : auto;
	height : auto;
}
th.menu-label {
	display: ruby;
}
.post-tags {
	margin: 0 1px;
	padding: 3px 10px;
	color: var(--link-color);
	background: var(--tag-color);
	font-size: 80%;
	font-family: sans-serif;
	text-decoration: none;
	border-radius: 25px;
}
.blog-post-tags {
	margin-top: 1px;
	border-bottom: 1px solid var(--light-text-color);
}
.blog-posts-details {
	list-style: none;
	overflow: auto;
	margin-left: 0px;
	display : flex;
	font-size: small;
	margin-bottom: 2px;
}
span.pre {
	color: var(--link-color);
	background-color: var(--box-background-color);
}
#tags a {
	margin: 0 1px;
	padding: 3px 10px;
	color: var(--link-color);
	background: var(--tag-color);
	font-size: 80%;
	font-family: sans-serif;
	text-decoration: none;
	border-radius: 25px;
}
img.cloud {
	display: none;
}
ul.github-buttons {
	display : flex;
	margin: 0 0 0 -30px;
}
ul.github-buttons li {
	display: block;
}
div.posts-categories {
	width: 100%;
	max-width: 100%;
	height: 100;
	color: var(--main-text-color);
	background-color: var(--main-background-color);
	font-family: "neon";
	font-size: 16px;
}
@supports (-moz-appearance:none) {
	div.posts-categories {
	  width: 100%;
	  max-width: 100%;
	  height: 100;
	  color: var(--main-text-color);
	  background-color: var(--main-background-color);
	  font-family: "neon";
	  font-size: 16px;
	}
}

@media only screen and (max-width: 1090px) {
	body {
		width: inherit;
		margin: 1% auto 0 auto;
		color: var(--main-text-color);
		background-color: var(--main-background-color);
		font-feature-settings: "kern";
		font-family: "neon";
		font-size: 16px;
		min-width: 600px;
		max-width: 750px;
	}
	div.sub-title-menu {
		width: 100%;
		margin: 0 0% 0 0%;
		padding: 0 0 0 0;
		color: var(--main-text-color);
		background-color: var(--main-background-color);
		font-feature-settings: "kern"on;
		font-family: "neon";
		font-size: 16px;
		max-width: inherit;
		border-bottom-color: var(--main-text-color);
		border-bottom-width: 1px;
		border-bottom-style: solid;
	}
	table.highlighttable {
		margin-left: 0.005em;
		width: inherit;
		display : block;
	}
	div.highlight {
		background-color: var(--main-background-color);
		width: auto;
	}
	img.align-center {
		width : auto;
		height : auto;
	}
	div.body blockquote {
		width: auto;
		background-color: var(--main-background-color);
		border-left: 5px solid var(--box-background-color);
	}
	img.cloud {
		display: contents;
		max-width: inherit;
		height: auto;
		margin: 0 auto;
		border: 0px solid var(--light-border-color);
	}
	th.menu-label {
		display: none;
	}
	.blog-posts-details {
		display: grid;
	}
	div.sub-title-menu a {
		font-size: 30px;
	}
	ul.github-buttons {
		display: inline-block;
	}
	div.sub-title-menu .fa {
		font-size: xxx-large;
	}
}
@media only screen and (max-width: 600px) {
	body {
		width: inherit;
		margin: 1% auto 0 auto;
		color: var(--main-text-color);
		background-color: var(--main-background-color);
		font-feature-settings: "kern";
		font-family: "neon";
		font-size: 16px;
		min-width: 400px;
		max-width: 650px;
	}
	div.sub-title-menu {
		width: 100%;
		margin: 0 0% 0 0%;
		padding: 0 0 0 0;
		color: var(--main-text-color);
		background-color: var(--main-background-color);
		font-feature-settings: "kern"on;
		font-family: "neon";
		font-size: 16px;
		max-width: inherit;
		border-bottom-color: var(--main-text-color);
		border-bottom-width: 1px;
		border-bottom-style: solid;
	}
	table.highlighttable {
		margin-left: 0.005em;
		width: inherit;
		display : block;
	}
	div.highlight {
		background-color: var(--main-background-color);
		width: 650px;
	}
	img.align-center {
		width : auto;
		height : auto;
	}
	div.body blockquote {
		width: auto;
		background-color: var(--main-background-color);
		border-left: 5px solid var(--box-background-color);
	}
	img.cloud {
		display: contents;
		max-width: 100%;
		height: auto;
		margin: 0 auto;
		border: 0px solid var(--light-border-color);
	}
	th.menu-label {
		display: none;
	}
  div.sub-title-menu .fa {
		font-size: xx-large;
	}
}
@media only screen and (max-width: 480px) {
	body {
		width: 100%;
		margin: 0 auto 0 auto;
		color: var(--main-text-color);
		background-color: var(--main-background-color);
		font-feature-settings: "kern";
		font-family: "neon";
		font-size: 16px;
		min-width: 250px;
		max-width: min-content;
	}
	div.latest-posts img {
		display: none;
		max-width: inherit;
		height: auto;
		margin: 0 auto;
		border: 0px solid var(--light-border-color);
	}
	th.menu-label {
		display: none;
	}
	table.highlighttable td {
		padding: 0 0.05em 0 0.05em;
	}
	div.posts-categories ul {
		display: grid;
		margin: 0 10% 0 10%;
	}
	div.posts-categories li.toctree-l3 {
		margin: 0 0 0 10%;
	}
	div.posts-tags ul {
		display: grid;
		margin: 0 10% 0 10%;
	}
	div.posts-tags li.toctree-l3 {
		margin: 0 0 0 10%;
	}
	div.sub-title table {
		text-align: left;
		padding-right: 5px;
		display: contents;
	}
	table.highlighttable {
		margin-left: 0.005em;
		width: inherit;
	}
	div.highlight {
		background-color: var(--main-background-color);
		width: auto;
	}
	img.align-center {
		width : auto;
		height : auto;
	}
	div.body blockquote {
		width: auto;
		background-color: var(--main-background-color);
		border-left: 5px solid var(--box-background-color);
	}
	img.cloud {
		display: none;
		overflow: auto;
		margin-left: 0px;
		display: grid;
		max-width: inherit;
		height: auto;
		margin: 0 auto;
		border: 0px solid var(--light-border-color);
	}
	th.menu-label {
		display: none;
	}
	blog-posts-details {
		display: grid;
	}
	div.sub-title-menu a {
		font-size: 20px;
	}
	ul.github-buttons {
		display: inline-block;
	}
	div.sub-title-menu .fa {
		font-size: x-large;
	}
  th {
    text-align: left;
    padding-right: 3px;
  }
}
