---
---

@import 'jekyll-theme-cayman';
@font-face {
	font-family: 'neon';
	font-style: normal;
	font-weight: 400;
	src: url('font/kit/ubuntu-regular-webfont.woff2') format('woff2'),url('font/kit/ubuntu-regular-webfont.woff') format('woff');
}
html,html[theme=light] {
	--box-background-color: hsl(0, 0%, 90%);
	--highlight-color: hsl(0, 0%, 80%);
	--light-border-color: hsl(0, 0%, 80%);
	--light-text-color: hsl(0, 0%, 35%);
	--link-color: hsl(200, 81%, 35%);
	--link-color-visited: hsl(250, 100%, 37%);
	--main-background-color: hsl(0, 5%, 95%);
	--main-text-color: hsl(0, 0%, 0%);
	--sidebar-color: hsl(0, 0%, 90%);
	--tag-color: hsl(0, 10%, 90%);
}
html[theme=dark] {
	--box-background-color: hsl(0, 0%, 20%);
	--highlight-color: hsl(0, 0%, 60%);
	--light-border-color: hsl(0, 0%, 30%);
	--light-text-color: hsl(0, 0%, 60%);
	--link-color: hsl(200, 81%, 60%);
	--link-color-visited: hsl(250, 100%, 60%);
	--main-background-color: hsl(0, 0%, 10%);
	--main-text-color: hsl(0, 10%, 80%);
	--tag-color: hsl(0, 10%, 0%);
}
@media (prefers-color-scheme: dark) {
	html[theme=dark] {
		--box-background-color: hsl(0, 0%, 20%);
		--highlight-color: hsl(0, 0%, 60%);
		--light-border-color: hsl(0, 0%, 30%);
		--light-text-color: hsl(0, 0%, 60%);
		--link-color: hsl(200, 81%, 60%);
		--link-color-visited: hsl(250, 100%, 60%);
		--main-background-color: hsl(0, 0%, 10%);
		--main-text-color: hsl(0, 10%, 80%);
		--tag-color: hsl(0, 10%, 0%);
	}
	html[theme=light] {
		--box-background-color: hsl(0, 0%, 90%);
		--highlight-color: hsl(0, 0%, 80%);
		--light-border-color: hsl(0, 0%, 80%);
		--light-text-color: hsl(0, 0%, 35%);
		--link-color: hsl(200, 81%, 35%);
		--link-color-visited: hsl(250, 100%, 37%);
		--main-background-color: hsl(0, 5%, 95%);
		--main-text-color: hsl(0, 0%, 0%);
		--sidebar-color: hsl(0, 0%, 90%);
		--tag-color: hsl(0, 10%, 90%);
	}
}
body {
	width: inherit;
	margin: 43px auto 0 auto;
	color: var(--main-text-color);
	background-color: var(--main-background-color);
	font-feature-settings: "kern";
	font-family: "neon";
	font-size: 12px;
	min-width: 1090px;
	max-width: 1090px;
	line-height: unset;

}
div {
	width: inherit;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	color: var(--main-text-color);
	background-color: var(--main-background-color);
	font-feature-settings: "kern";
	font-family: "neon";
	font-size: 16px;
	min-width: 5px;
	max-width: 100%;
}
div {
	width: grid;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	color: var(--main-text-color);
	background-color: var(--main-background-color);
	font-feature-settings: "kern";
	font-family: "neon";
	font-size: 16px;
	min-width: 5px;
	max-width: inherit;
}
div.document {
	width: inherit;
	margin: inherit;
	color: var(--main-text-color);
	background-color: var(--main-background-color);
	font-family: "neon";
	font-size: 16px;
	margin: 0 0 0 0;
}
div.documentwrapper {
	width: 100%;
	float: left;
	color: var(--main-text-color);
	background-color: var(--main-background-color);
	font-family: "neon";
	font-size: 16px;
}
div.body {
	width: inherit;
	padding: 0 0 0 0;
	color: var(--main-text-color);
	background-color: var(--main-background-color);
	font-feature-settings: "kern";
	font-family: "neon";
	font-size: 16px;
	min-width: 45%;
	max-width: 100%;
}
div.sub-title-menu {
	width: 100%;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	color: var(--main-text-color);
	background-color: var(--main-background-color);
	font-feature-settings: "kern"on;
	font-family: "neon";
	font-size: 16px;
	min-width: 35%;
	max-width: 100%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
.main-content {
    max-width: 1090px;
		min-width: 650px;
    padding: 0 0;
    margin: 0 auto;
    font-size: 1.1rem;
}
h1.title {
	display: flex;
	margin: 1em 0 0.25em 0;
	font-family: "neon";
	font-size: 27px;
	margin-top: 0;
	font-weight: normal;
	padding: 0;
	border-bottom-color: var(--main-text-color);
	border-bottom-width: 1px;
	border-bottom-style: solid;
	text-align: left;
	color: var(--main-text-color);
	font-feature-settings: "kern";
	line-height: unset;
}
.page-header {
	padding: 10px 0;
	border-radius: 10px;
	margin: 5px 0 0 0;}
th {
    padding: 0px;
    text-align: left;
    padding-right: 5px;
    font-size: 16px;
}
.project-name {
	margin-bottom: 0px;
	height: 55px;
	box-sizing: unset;
	line-height: unset;
}
.project-tagline {
	margin-top: 0px;
	margin-bottom: 5px;
}
/* menu css */
div.sub-title-menu {
    width: 100%;
    margin: 5px 0 0 0;
    padding: 0 0 0 0;
    color: var(--main-text-color);
    background-color: var(--main-background-color);
    font-feature-settings: "kern"on;
    font-family: "neon";
    font-size: 20px;
    min-width: 35%;
    max-width: 100%;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
div.sub-title-menu table {
    width: 100%;
    margin: 0 0 2px 0;
    padding: 0 0 0 0;
    color: var(--link-color);
    background-color: var(--main-background-color);
}
th.icon {
    text-align: left;
    padding-right: 5px;
}
th.menu-label {
    display: ruby;
}
div.sub-title-menu a {
    font-weight: 700;
    margin: 0 0 0 0;
        margin-left: 0px;
    margin-left: 0px;
    color: var(--link-color);
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .05em;
    margin-left: 0;
}
